<%= render 'slider' %>
<div>
  <% unless global_container? %>
    <%= render 'shared/after_container' %>
  <% end %>
  <% i = 0 %>
  <% @categories.in_groups_of(8, false).each do |categories_group| %>
    <div class="dr-bottom-service-<%= i == 1 ? 'odd' : 'even' %>-row">
      <% categories_group.each do |category| %>
        <div class="dr-bottom-service-<%= i == 1 ? 'odd' : 'even' %>-row-category">
          <a href="<%= category_tasks_path(category_id: category) %>" class="dr-bottom-service-heading">
            <img src="<%= category.photo.thumb.url %>" alt="<%= category.title %>" height="33">
            <div class="dr-bottom-service-content">
              <span><%= category.title %></span>
            </div>
          </a>
        </div>
      <% end %>
      <% i += 1 %>
    </div>
  <% end %>
</div>
