<% @profiles.each do |profile| %>
    <div class="dr-block-style dr-block-style--card">
      <div class="row">
        <div class="col-lg-2">
          <div class="master-card-person">
            <div class="master-card-person__image master-card-person__image--online">
              <%= image_tag profile.user.photo.url %>
            </div>
            <div class="master-card-person__mark"></div>
          </div>
        </div>
        <div class="col">
          <div class="master-card-description">
            <div class="row justify-content-space-between">
              <div class="col">
                <p class="master-card-description__header">
                    <%= link_to profile.user.name, profile_path(profile) %>
                </p>
              </div>
              <div>
                <span class="master-card-description__price"><%= profile.decorate.show_price %></span>
              </div>
            </div>
            <p class="master-card-description__offline master-card-description__offline--hide">
              Был на сайте 6 ч. 9 мин. назад
            </p>
            <p class="master-card-description__text">
              <%= profile.about.truncate(180) unless profile.about.blank? %>
            </p>
            <a class="link-default" href="#" role="button">Показать номер телефона</a>
          </div>
        </div>
      </div>
    </div>
<% end %>
<%= paginate @profiles %>
