<div class="row row-eq-height dr-masters-tickets-ticket-request">
  <%= render 'shared/user/info', user: resource.user %>
  <div class="col-md-7 dr-one-ticket-ticket-content gray-text">
    <p><%= simple_format resource.content %></p>
  </div>
  <div class="col-md-3 padding-none">
    <% if policy(resource).edit? %>
      <div class="dr-one-ticket-request-button">
        <a href="<%= edit_task_reply_path(resource.task, resource) %>" class="btn dr-button-empty">Редактировать</a>
      </div>
    <% end %>
    <% if policy(resource).accept? %>
      <div class="dr-one-ticket-request-button">
        <a href="<%= accept_task_reply_path(resource.task, resource) %>" class="btn dr-button-empty">Выбрать мастера</a>
      </div>
    <% end %>
    <% if policy(resource).comment? %>
      <div class="dr-one-ticket-request-button">
        <a href="<%= task_reply_path(resource.task, resource) %>" class="btn dr-button-empty">Обсуждение (<%= resource.comments.count %>)</a>
      </div>
    <% end %>
    <% if policy(resource).destroy? %>
      <div class="dr-one-ticket-request-button without-border">
        <a href="<%= task_reply_path(resource.task, resource) %>" data-method="destroy" class="btn dr-button-empty">Удалить отклик</a>
      </div>
    <% end %>
    <% if policy(resource).decline? %>
      <div class="dr-one-ticket-request-button without-border">
        <a href="<%= decline_task_reply_path(resource.task, resource) %>" class="btn dr-button-empty">Отказать мастеру</a>
      </div>
    <% end %>
    <% if policy(resource).cancel_decline? %>
      <div class="dr-one-ticket-request-button without-border">
        <a href="<%= cancel_decline_task_reply_path(resource.task, resource) %>" class="btn dr-button-empty">Отменить отказ</a>
      </div>
    <% end %>
  </div>
</div>
