<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="dr-block-style dr-block-style-registration">
    <div class="registration-form">
      <div class="registration-form__header">
        <p>Регистрация исполнителя</p>
      </div>
      <div class="registration-form__content">
        <div class="registration-form__content-header">
          <p>Авторизация через соцсети</p>
        </div>
        <div class="registration-form__content-circle">
          <div class="registration-form__content-circle__item registration-form__content-circle__item-vk">VK</div>
          <div class="registration-form__content-circle__item registration-form__content-circle__item-fb">FB</div>
          <div class="registration-form__content-circle__item registration-form__content-circle__item-ok">OK</div>
        </div>
        <hr/>
        <div class="registration-form__content-inputs">
          <%= f.text_field :name, autofocus: true, class: 'form-control form-control__item', placeholder: 'Как к вам обращаться?' %>
          <%= f.email_field :email, class: 'form-control form-control__item', placeholder: 'Ваш email' %>
          <% if @omniauth %>
            <input type="hidden" name="omniauth_id" value="<%= @omniauth.id %>" />
          <% end %>
          <%= content_tag 'sms-confirmation',
            nil,
            data: { phone: 'asd' }
          %>
          <div class="checkbox">
            <label><input type="checkbox" value="">Я согласен с правилами сервиса</label>
          </div>
        </div>
        <div class="registration-form__content-button-submit">
          <input type="submit" class="btn btn-primary dr-btn-primary" value="Создать аккаунт" />
        </div>
      </div>
    </div>
  </div>
<% end %>
