<div class="row row-eq-height dr-all-task-container">
  <div class="col-md-2 padding-none">
    <div class="dr-one-ticket-ticket-avatar">
      <%= render 'shared/user_photo', user: task.user %>
    </div>
    <br/>
    <div class="dr-one-ticket-ticket-name">
      <p><%= task.user.first_name %><br/><%= task.user.last_name %></p>
    </div>
    <div class="dr-one-ticket-ticket-rating">
      <br/>
      <br/>
      <span class="gray-text-light">Рейтинг</span>
      <br/>
      <span>0</span>
    </div>
  </div>
  <div class="col-md-5 dr-one-ticket-ticket-content without-border gray-text">
    <span class="content-header"><a href="<%= resource_url(task) %>"><%= task.title %></a></span>
    <span class="content-header-sub"><%= task.category.title %></span>
    <p><%= simple_format task.description.truncate(150, separator: /\s/) %></p>
    <% if task.place.present? %>
      <div class="dr-all-task-adress">
        <p>
          <span class="gray-text-light">Адрес:</span> <%= task.place.name %>, <%= task.place_address %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 dr-all-task-button-div">
    <span class="dr-header-span-price"><%= price_format task.price_exact %> ₽</span>
    <% if policy(task).reply? || policy(task).edit? %>
    <div class="dr-one-ticket-discussion-quote">
      <% if policy(task).reply? %>
        <a href="<%= task_path(task) %>" class="btn dr-button-blue">Откликнуться на задание</a>
      <% end %>
      <% if policy(task).edit? %>
        <a href="<%= edit_task_path(task) %>" class="btn dr-button-blue">Редактировать задание</a>
      <% end %>
    </div>
    <% end %>
  </div>
  <div class="col-md-2 padding-none">
    <%= render 'shared/task/info', resource: task %>
  </div>
</div>
