<div class="dr-container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="row">
        <div class="col-md-5">
          <div class="dr-header-span without-border">
            <% if @scope == :my %>
              <p>Мои <span class="dr-header-span-unmarked">задания</span></p>
            <% elsif @scope == :suggested %>
              <p>Подходящие <span class="dr-header-span-unmarked">задания</span></p>
            <% elsif @scope == :all %>
              <p>Все <span class="dr-header-span-unmarked">задания</span></p>
            <% end %>
          </div>
        </div>
        <%= render 'category_heading' %>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 dr-all-task-categories">
      <a href="#openModal">
        <button type="button" class="btn dr-button-empty">Категории заданий</button>
      </a>
    </div>
  </div>

  <div id="openDropdown" class="dr-dropdown">
    <div class="row">
      <div class="col-md-12">
        <a href="#close" title="Закрыть" class="close">X</a>
        <div class="dr-dropdown-content">
          <a href="#">Мои задания</a>
          <a href="#" class="lastRow">Подходящие задания</a>
        </div>
      </div>
    </div>
  </div>

  <%= render 'categories_popup' %>

  <%= render 'categories' %>

  <% collection.each do |task| %>
    <%= render partial: 'task', locals: { task: task } %>
  <% end %>

  <%= render 'no_records' if collection.length == 0 %>

  <!--<div class="lastRow">
    <button type="button" class="btn dr-button-empty">Показать еще</button>
  </div> -->
</div>
