<%= render 'info' %>

<% if user_signed_in? && resource.replies.by_user(current_user).exists? %>
  <div class="dr-header-span">
    <p class="dr-header-span-unmarked">
      Ваш отклик
    </p>
  </div>
  <%= render 'replies/reply', resource: resource.replies.by_user(current_user).first %>
  <%= render 'replies/comments', comments: resource.replies.by_user(current_user).first.comments %>
  <%= render 'replies/comments/form', reply: resource.replies.by_user(current_user).first, resource: Comment.new %>
<% end %>

<% if policy(resource).view_replies? && resource.replies.exists? %>
  <div class="dr-header-span">
    <p class="dr-header-span-unmarked">
      Отклики
    </p>
  </div>
  <% resource.replies.each do |resource_reply| %>
    <%= render 'replies/reply', resource: resource_reply %>
  <% end %>
<% end %>

<% if policy(resource).reply? %>
  <%= render 'replies/form', task: resource, resource: Reply.new %>
<% end %>
