- if !@current_user.blank?
  .popup.popup-order
    .close
    .title Откликнуться на заявку
    %form{"accept-charset" => "UTF-8", :action => "/set_order", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "user_id", :type => "hidden", :value => @current_user.id}/
      %input{:name => "task_id", :type => "hidden", :value => @task.id}/
      %input{:name => "order_id", :type => "hidden"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "/ILmNl4uphX+FGSOk4ldoj3kIf8YKnLUl/HhazQrPmg="}
      %input{:autofocus => "autofocus", :name => "price", :type => "text", :placeholder => "Стоимость"}          
      %input{:name => "ltime", :type => "text", :placeholder => "Срок выполнения"}          
      %textarea{:name => "description", :placeholder => "Текст отклика"}
      %input.btn{:name => "commit", :type => "submit", :value => "Отправить заявку"}/

  .popup.popup-answer
    .close
    .title Написать ответ
    %form{"accept-charset" => "UTF-8", :action => "/profile/message_order", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "task_id", :type => "hidden", :value => @task.id}/
      %input{:name => "order_id", :type => "hidden"}/
      %input{:name => "to_user", :type => "hidden"}/
      %input{:name => "from_user", :type => "hidden"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "/ILmNl4uphX+FGSOk4ldoj3kIf8YKnLUl/HhazQrPmg="}
      %textarea{:name => "description", :placeholder => "Текст сообщения"}
      %input.btn{:name => "commit", :type => "submit", :value => "Отправить сообщение"}/

  .popup.popup-answer-yes
    .close
    .title Внимание
    %form{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
      .title  
        «<span class='name'></span>» назначен исполнителем на Вашу заявку «#{@task.name}». Когда <span class='name'></span> выполнит поставленную задачу, обязательно в личном кабинете оцените результат работы и напишите отзыв»

  .popup.popup-recall
    .close
    .title Напишите отзыв о мастере
    %form{"accept-charset" => "UTF-8", :action => "/profile/recall", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "task_id", :type => "hidden", :value => @task.id}/
      %input{:name => "from_user_id", :type => "hidden", :value => @current_user.id}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "/ILmNl4uphX+FGSOk4ldoj3kIf8YKnLUl/HhazQrPmg="}
      %textarea{:name => "description", :placeholder => "Напишите отзыв"}
      .rating
        Ваша оценка:
        %span 10
      .clear
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question1", :name => "question1"}
        %label{:for => "question1"} Мастера можно назвать знатоком своего дела?
        .clear
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question2", :name => "question2"}
        %label{:for => "question2"} Мастер был вежлив?
        .clear
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question3", :name => "question3"}
        %label{:for => "question3"} Мастер приступил к работе во время?
        .clear 
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question4", :name => "question4"}
        %label{:for => "question4"} Мастер уложился в сроки выполнения заказа?
        .clear
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question5", :name => "question5"}
        %label{:for => "question5"} Мастер был опрятен?
        .clear 
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question6", :name => "question6"}
        %label{:for => "question6"} Вы заплатили оправданную цену за выполнение заказа?
        .clear
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question7", :name => "question7"}
        %label{:for => "question7"} Информация на странице мастера соответствует действительности?
        .clear
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question8", :name => "question8"}
        %label{:for => "question8"} Комментарий написаный мастером по Вашей заявке соответствует действительности?
        .clear
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question9", :name => "question9"}
        %label{:for => "question9"} Вы довольны выполненной работой?
        .clear
      .line
        %input{:type => "checkbox", :checked => "checked", :id => "question10", :name => "question10"}
        %label{:for => "question10"} Вы бы рекомендовали этого мастера своим друзьям?
        .clear
      %input.btn{:name => "commit", :type => "submit", :value => "Оставить отзыв"}/

%section.bread
  .cont
    .left
      %a{:href => "/"} Главная
      %span >
      %a{:href => "/tasks"} Задания
      %span >
      %span= @task.name
      .clear
    .right
      .time
        Создано
        %span= date_format(@task.created_at)
        /мин. назад
      .answer
        %span 0
        ОТВЕТА
      .view
        %span #{@task.view}
        ПРОСМОТРА
      .status
        Выполняется
      .clear
    .clear
%section.task
  .cont
    .task-left
      .user
        .rating= @user.rating.to_i
        .img
          - if !@user.image.blank?
            = image_tag @user.image.big.url
          - else
            - if !@user.photo.blank?
              = image_tag @user.photo
        %a.name{:href => "/users/#{@user.id}"}= "#{@user.name1} #{@user.name2}"
      .info
        - task = Task.where(user_id: @user.id)
        %span #{task.size} #{order_count(task.size)}
        .counts
          .plus= "+#{@user.plus.to_i}/"
          .minus= "-#{@user.minus.to_i}"
          .clear
        .clear
      %h4 Частые вопросы
      %ul
        %li
          %a{:href => ""} Сколько предложений я получу?
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
        %li
          %a{:href => ""} Зачем мне указывать примерный бюджет
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
      %a.btn.btn-blue{:href => "/questions"} ВСЕ ВОПРОСЫ
    .task-right
      - if !@task.city_from.blank? || !@task.city_to.blank?
        .map-block
          %a.full-map{:href => ""} Карту на весь экран
          .img
            #map
            :javascript
              function initialize() {
                var myLatlng = new google.maps.LatLng(55.68852706904227,37.25565899999996);
                var mapOptions = {
                  zoom: 10,
                  center: myLatlng,
                  scrollwheel: false
                }


                //var map = new google.maps.Map(document.getElementById('map'), mapOptions);
                //map.setOptions({styles: styles});
                //var myLatlngMarker = new google.maps.LatLng(55.68852706904227,37.25675899999996);
                //var marker = new google.maps.Marker({
                //    position: myLatlngMarker,
                //    map: map,
                //    title: ''
                //});
              }

              var bounds = new google.maps.LatLngBounds();

              function add_marker(city, city2) {
                //AIzaSyC4_TuvNEHbehOgc-lahGkQW5TjJlX6NCo

                var styles = [
                  {
                      "featureType": "administrative",
                      "elementType": "labels.text.fill",
                      "stylers": [
                          {
                              "color": "#444444"
                          }
                      ]
                  },
                  {
                      "featureType": "administrative.country",
                      "elementType": "geometry.fill",
                      "stylers": [
                          {
                              "visibility": "on"
                          }
                      ]
                  },
                  {
                      "featureType": "landscape",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#f2f2f2"
                          }
                      ]
                  },
                  {
                      "featureType": "poi",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "road",
                      "elementType": "all",
                      "stylers": [
                          {
                              "saturation": -100
                          },
                          {
                              "lightness": 45
                          }
                      ]
                  },
                  {
                      "featureType": "road.highway",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "simplified"
                          }
                      ]
                  },
                  {
                      "featureType": "road.arterial",
                      "elementType": "labels.icon",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "transit",
                      "elementType": "all",
                      "stylers": [
                          {
                              "visibility": "off"
                          }
                      ]
                  },
                  {
                      "featureType": "water",
                      "elementType": "all",
                      "stylers": [
                          {
                              "color": "#4694ec"
                          },
                          {
                              "visibility": "on"
                          }
                      ]
                  }
                ];

                var key = "AIzaSyBulkdDQB38z4ztdhb9po9D9Lcj2Be3WIc";
                var address = city;
                var address2 = city2;
                $.post("https://maps.googleapis.com/maps/api/geocode/json?address="+address+"&key="+key, {}, function(data){
                  var myLatlng = data.results[0].geometry.location;
                  var mapOptions = {
                    zoom: 15,
                    center: myLatlng,
                    scrollwheel: false
                  }
                  var map = new google.maps.Map(document.getElementById('map'), mapOptions);
                  var bounds = new google.maps.LatLngBounds();
                  map.setOptions({styles: styles});
                  var myLatlngMarker = data.results[0].geometry.location;
                  bounds.extend(myLatlngMarker);
                  var marker = new google.maps.Marker({
                      position: myLatlngMarker,
                      map: map,
                      title: address
                  });

                  bounds.extend(myLatlngMarker);

                  map.fitBounds(bounds);

                  $.post("https://maps.googleapis.com/maps/api/geocode/json?address="+address2+"&key="+key, {}, function(data){
                    
                    var myLatlngMarker = data.results[0].geometry.location;
                    var marker = new google.maps.Marker({
                        position: myLatlngMarker,
                        map: map,
                        title: address
                    });
                    bounds.extend(myLatlngMarker);

                    map.fitBounds(bounds);

                    
                    var directionsService = new google.maps.DirectionsService();
                    var directionsRequest = {
                      origin: city,
                      destination: city2,
                      travelMode: google.maps.DirectionsTravelMode.DRIVING,
                      unitSystem: google.maps.UnitSystem.METRIC
                    };
                    directionsService.route(
                      directionsRequest,
                      function(response, status)
                      {
                        if (status == google.maps.DirectionsStatus.OK)
                        {
                          new google.maps.DirectionsRenderer({
                            map: map,
                            directions: response
                          });
                        }
                        else
                          $("#error").append("Unable to retrieve your route<br />");
                      }
                    );

                  });

                  var zoom = map.getZoom();
                  setTimeout(function(){
                    map.setZoom(10);
                  }, 500);

                });
              }

              google.maps.event.addDomListener(window, 'load', initialize);

            :javascript
              add_marker("#{@task.city_from} #{@task.address_from} #{@task.house_from} #{@task.kv_from}", "#{@task.city_to} #{@task.address_to} #{@task.house_to} #{@task.kv_to}");
      %h1= @task.name
      .price
        - if !@task.price_fix.blank?
          = @task.price_fix.to_i
        - else
          = @task.price_1.to_i
        %img{:src => "/assets/r-4.png"}/
      .clear
      - if !@task.city_from.blank? && !@task.address_from.blank?
        .line-1
          .left
            %span ОТ:
            #{@task.city_from}, #{@task.address_from}, #{@task.house_from}, #{@task.kv_from}
          .right
            - if !@task.date_start.blank?
              %span НАЧАТЬ:
              #{date_format(@task.date_start)}
          .clear
      - if !@task.city_to.blank? && !@task.address_to.blank?
        .line-2
          .left
            %span ДО:
            #{@task.city_to}, #{@task.address_to}, #{@task.house_to}, #{@task.kv_to}
          .right
            - if !@task.date_stop.blank?
              %span ЗАКОНЧИТЬ:
              #{date_format(@task.date_stop)}
          .clear
      .description
        = link_to @task.file_image.url, :class => "info-img" do
          = image_tag @task.file_image.big.url
        =raw @task.description
      .clear
      .task-works
        - if @task.inwork
          Исполнитель определен
          - if !@current_user.blank?
            - if @current_user.id == @task.userdo_id && !@task.done
              = link_to "Закончить выполнение работ", "#", :class => "btn btn-green btn-task-done", :task_id => @task.id, :status => "done"
              .clear
            - if @current_user.id == @task.user_id && @task.done && !@task.finish
              = link_to "Принять работы", "#", :class => "btn btn-green btn-task-finish", :task_id => @task.id, :status => "finish"
              .clear
        .clear{:style => "height:30px;"}
        - if !@current_user.blank?
          - if @current_user.ismaster == true
            - order = Order.where(userdo_id: @current_user.id, task_id: @task.id)
            - if order.blank?
              - if @current_user.id != @task.user_id
                = link_to "Отозваться", "#", :class => "btn btn-green btn-master-task", :user_id => @current_user.id, :task_id => @task.id
              .clear{:style => "height: 20px;"}
          - else
            - if @current_user.id != @task.user_id
              = link_to "АКТИВАЦИЯ ПРОФИЛЯ", "/profile/step1", :class => "btn btn-red"
              %span{:style => "font-size: 12px;padding-left:10px;"} Активируйте профиль, что бы отвечать на заявки
            .clear
          - order = Order.where(task_id: @task.id)
          - if !order.blank?
            - order.each do |o|
              - user = User.find(o.userdo_id)
              - messages = Message.where(order_id: o.id, task_id: @task.id).order("created_at asc")
              .comment-item
                .comment-user
                  .user
                    .rating= user.rating.to_i
                    .img
                      %img
                        - if !user.image.blank?
                          = image_tag user.image.big.url
                        - else
                          - if !user.photo.blank?
                            = image_tag user.photo
                    %a.name{:href => "/users/#{user.id}"}= "#{user.name1} #{user.name2}"
                  .info
                    %span 0 заЯВОК
                    .counts
                      .plus +#{user.plus.to_i}/
                      .minus -#{user.minus.to_i}
                      .clear
                    .clear
                .comemnt-text
                  .body
                    .text
                      =raw o.description
                    .comment-info
                      .price
                        #{o.price.to_i}
                        %img{:src => "/assets/r-4.png"}/
                      .time #{o.ltime}
                    .clear
                  .btns
                    - if messages.blank?
                      - if o.status == "yes" || o.status == "no"
                        - if o.status == "yes"
                          Назначен исполнителем
                        - if o.status == "no"
                          Отказано
                    - if !@task.inwork
                      - if @current_user.id == o.userdo_id
                        = link_to "Удалить свою заявку", "#", :class => "btn btn-red btn-master-task-delete", :order_id => o.id, :task_id => @task.id
                        = link_to "Изменить свою заявку", "#", :class => "btn btn-green btn-master-task-edit", :order_id => o.id, :price => o.price, :ltime => o.ltime, :description => o.description
                        - if @current_user.id != o.user_id
                          %a.btn.btn-blue.btn-answer{:href => "", :to_user => o.user_id, :from_user => @current_user.id, :order_id => o.id} ОТВЕТИТЬ
                      - if @current_user.id == o.user_id
                        %a.btn.btn-green.btn-order-yes{:href => "#", :order_id => o.id, :userdo_id => o.userdo_id, :task_id => @task.id} НАЗНАЧИТЬ ИСПОЛНИТЕЛЕМ
                        %a.cancle.btn-order-no{:href => "#", :order_id => o.id, :userdo_id => o.userdo_id, :task_id => @task.id} Отказать
                        %a.btn.btn-blue.btn-answer{:href => "", :to_user => o.userdo_id, :from_user => @current_user.id, :order_id => o.id} ОТВЕТИТЬ
                        .clear
                .clear
              - if !messages.blank?
                - messages.each do |m|
                  - user = User.find(m.from_user)
                  .comment-item.comment-sub
                    .comment-user
                      .user
                        .rating= user.rating.to_i
                        .img
                          - if !user.image.blank?
                            = image_tag user.image.big.url
                          - else
                            - if !user.photo.blank?
                              = image_tag user.photo
                        %a.name{:href => "/users/#{user.id}"}= "#{user.name1} #{user.name2}"
                      .info
                        %span 0 заЯВОК
                        .counts
                          .plus +#{user.plus.to_i}/
                          .minus -#{user.minus.to_i}
                          .clear
                        .clear
                    .comemnt-text
                      .body
                        .text
                          =raw m.description
                        .clear
                      .btns
                        - if o.status == "yes" || o.status == "no"
                        - else
                          - if @current_user.id == o.userdo_id
                            %a.btn.btn-blue.btn-answer{:href => "", :to_user => o.user_id, :from_user => @current_user.id, :order_id => o.id} ОТВЕТИТЬ
                          - if @current_user.id == o.user_id
                            - if @current_user.id != o.user_id
                              %a.btn.btn-green.btn-order-yes{:href => "#", :order_id => o.id, :userdo_id => o.userdo_id, :task_id => @task.id} НАЗНАЧИТЬ ИСПОЛНИТЕЛЕМ
                            - if @current_user.id != o.user_id
                              %a.cancle.btn-order-no{:href => "#", :order_id => o.id, :userdo_id => o.userdo_id, :task_id => @task.id} Отказать
                            - if @current_user.id != user.id
                              %a.btn.btn-blue.btn-answer{:href => "", :to_user => o.userdo_id, :from_user => @current_user.id, :order_id => o.id} ОТВЕТИТЬ
                            .clear
                    .clear
              .clear
    .clear
      /
        .comment-item
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              %span 12 заЯВОК
              .counts
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .comment-info
                .price
                  2250
                  %img{:src => "/assets/r-4.png"}/
                .time 2-3 дня
              .clear
            .btns
              %a.btn.btn-green{:href => ""} НАЗНАЧИТЬ ИСПОЛНИТЕЛЕМ
              %a.cancle{:href => ""} Отказать
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
        .comment-item.comment-sub
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              %span 12 заЯВОК
              .counts
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .comment-info
                .price
                  2250
                  %img{:src => "/assets/r-4.png"}/
                .time 2-3 дня
              .clear
            .btns
              %a.btn.btn-green{:href => ""} НАЗНАЧИТЬ ИСПОЛНИТЕЛЕМ
              %a.cancle{:href => ""} Отказать
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
        .comment-item
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              %span 12 заЯВОК
              .counts
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .comment-info
                .price
                  2250
                  %img{:src => "/assets/r-4.png"}/
                .time 2-3 дня
              .clear
            .btns
              %a.btn.btn-green{:href => ""} НАЗНАЧИТЬ ИСПОЛНИТЕЛЕМ
              %a.cancle{:href => ""} Отказать
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
        .comment-item.comment-sub
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              %span 12 заЯВОК
              .counts
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .comment-info
                .price
                  2250
                  %img{:src => "/assets/r-4.png"}/
                .time 2-3 дня
              .clear
            .btns
              %a.btn.btn-green{:href => ""} НАЗНАЧИТЬ ИСПОЛНИТЕЛЕМ
              %a.cancle{:href => ""} Отказать
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
        .comment-item.comment-sub
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              %span 12 заЯВОК
              .counts
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .comment-info
                .price
                  2250
                  %img{:src => "/assets/r-4.png"}/
                .time 2-3 дня
              .clear
            .btns
              %a.btn.btn-green{:href => ""} НАЗНАЧИТЬ ИСПОЛНИТЕЛЕМ
              %a.cancle{:href => ""} Отказать
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
      .clear

= render '/profile/top_master'