%section.bread
  .cont
    .left
      %a{:href => "/"} Главная
      %span >
      %a{:href => "/tasks"} Задания
      .clear
    .clear
%section.task.task-list
  .cont
    .task-left.task-left-list
      %h4.filter Фильтр заданий
      %form{:action => "/tasks", :method => "get"}
        %select{:name => "city"}
          %option{:value => ""} Все города России
          %option Москва
          %option Чебоксары
          %option Санкт-Петербург
          %option Казань
          %option Нижний Новгород
          %option Сочи
          %option Ульяновск
          %option Киров
          %option Владимир
          %option Владикавказ
          %option Вологда
          %option Сочи
          %option Новосибирск
        %select{:name => "cat"}
          %option{:value => ""} Все категории заданий
          - @cat.each do |c|
            %option{:value => c.id}= c.name
        %select{:name => "cat_sub"}
          %option{:value => ""} Все подкатегории заданий
          - @cat_sub.each do |c2|
            %option{:value => c2.id}= c2.name
        .clear
        %select.small{:name => "price_1"}
          %option{:value => ""} Бюджет ОТ
          %option{:value => "0"} 0
          %option{:value => "1000"} 1000
          %option{:value => "2000"} 2000
          %option{:value => "3000"} 3000
        %select.small{:name => "price_2"}
          %option{:value => ""} Бюджет ДО
          %option{:value => "1000"} 1000
          %option{:value => "3000"} 3000
          %option{:value => "6000"} 6000
          %option{:value => "10000"} 10000
        .clear
        %input#budjet{:name => "budjet", :type => "checkbox"}/
        %label{:for => "budjet"} Бюджет по договоренности
        .clear{:style => "height: 10px;"}
        %input.btn.btn-blue{:type => "submit", :value => "Отфильтровать"}
        .clear
      .left-map
        %h4.map Все задания на карте
        %a.map-full{:href => ""} Карту на весь экран
        .clear
        .img
          #map
          :javascript
            function initialize() {
              var myLatlng = new google.maps.LatLng(55.68852706904227,37.25565899999996);
              var mapOptions = {
                zoom: 10,
                center: myLatlng,
                scrollwheel: false
              }

              var styles = [
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#4694ec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
              ];

              var map = new google.maps.Map(document.getElementById('map'), mapOptions);
              map.setOptions({styles: styles});
              var myLatlngMarker = new google.maps.LatLng(55.68852706904227,37.25675899999996);
              var marker = new google.maps.Marker({
                  position: myLatlngMarker,
                  map: map,
                  title: '',
                  icon: '/assets/balun.png'
              });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
      %h4.question Частые вопросы
      %ul
        %li
          %a{:href => ""} Сколько предложений я получу?
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
        %li
          %a{:href => ""} Зачем мне указывать примерный бюджет
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
      %a.btn.btn-blue{:href => "/questions"} ВСЕ ВОПРОСЫ
    .task-right.task-right-list
      .task-list
        %h2.task-title Последние задания
        .sort
          %form
            %span Сортировать по:
            %select.blue{:name => "sort"}
              - if params[:sort].blank? || params[:sort] == "date"
                %option{:value => "date", :selected => "selected"} Дате создания
              - else
                %option{:value => "date"} Дате создания
              - if params[:sort] == "priceup"
                %option{:value => "priceup", :selected => "selected"} Сначала дешевле
              - else
                %option{:value => "priceup"} Сначала дешевле
              - if params[:sort] == "pricedown"
                %option{:value => "pricedown", :selected => "selected"} Сначала дороже
              - else
                %option{:value => "pricedown"} Сначала дороже
          .clear
        .clear
        - if !@tasks.blank?
          - @tasks.each do |t|
            - if !@current_user.blank?
              - order = Order.where(task_id: t.id, userdo_id: @current_user.id, :status => "yes")
            - clazz = ""
            - clazz = "task-item-green" if !order.blank?
            - if !@current_user.blank?
              - order2 = Order.where(task_id: t.id, userdo_id: @current_user.id, :status => "no")
            - clazz2 = ""
            - clazz2 = "task-item-red" if !order2.blank?
            - clazz3 = ""
            - clazz3 = "task-item-gray" if order.blank? && order2.blank? && t.inwork
            .task-item{:onclick => 'document.location.href = "/tasks/'+String(t.id)+'"', :class => "#{clazz} #{clazz2} #{clazz3}"}
              - if !order.blank?
                .top-work-buttons-sel
                  %span Вы назначены исполнителем
                  .clear
              - if !order2.blank?
                .top-work-buttons-sel-2
                  %span К сожалению заказчик отказал Вам
                  .clear
              - if order.blank? && order2.blank?
                - if t.inwork
                  .top-work-buttons-sel-3
                    %span Исполнитель определен
                    .clear
              .top
                .ico.ico-fav
                .ico.ico-alert
                %a.name{:href => "/tasks/#{t.id}"}=raw t.name
                .price
                  - if !t.price_fix.blank?
                    .price1
                      %span от
                      = t.price_fix.to_i
                      %img{:src => "/assets/r-4.png"}/
                  - else
                    .price1
                      %span от
                      = t.price_1.to_i
                      %img{:src => "/assets/r-4.png"}/
                    .price2
                      %span до
                      = t.price_2.to_i
                      %img{:src => "/assets/r-5.png"}/
                  .clear
                .clear
                - if !t.city_from.blank? && !t.address_from.blank?
                  .line-1
                    .left
                      %span ОТ:
                      #{t.city_from}, #{t.address_from}, #{t.house_from}, #{t.kv_from}
                    - if !t.date_start.blank?
                      .right
                        %span НАЧАТЬ:
                        #{t.date_start}
                    .clear
                - if !t.city_to.blank? && !t.address_to.blank?
                  .line-2
                    .left
                      %span ДО:
                      #{t.city_to}, #{t.address_to}, #{t.house_to}, #{t.kv_to}
                    - if !t.date_stop.blank?
                      .right
                        %span ЗАКОНЧИТЬ:
                        #{t.date_stop}
                    .clear
                .text
                  =raw t.description
                .status
                  .time
                    #{t.view.to_i} ПРОСМОТРА
                  .answer
                    0  ОТВЕТА
                  .view
                    /Создано 19 мин. назад
                    Создано #{date_format(t.created_at)}
                  .stat
                    - if !t.date_count.blank?
                      АКТУАЛЬНО #{t.date_count} суток
                  .clear
        - else
          %h2 Заданий не найдено
        
      /
        .pagination
          %span.current 1
          %a{:href => ""} 2
          %a{:href => ""} 3
          %a{:href => ""} 4
          %a{:href => ""} 5
          %a{:href => ""} 6
          %a{:href => ""} 7
          %span .............................
          %a{:href => ""} 89
          .clear
    .clear