.popup.popup-message
  .close
  .title Написать сообщение
  %form{"accept-charset" => "UTF-8", :action => "/profile/message", :method => "post"}
    %input{:name => "utf8", :type => "hidden", :value => "✓"}/
    %input{:name => "user_id", :type => "hidden", :value => @user.id}/
    %input{:name => "authenticity_token", :type => "hidden", :value => "/ILmNl4uphX+FGSOk4ldoj3kIf8YKnLUl/HhazQrPmg="}
    %textarea{:name => "description", :placeholder => "Введите текст сообщения"}
    %input.btn{:name => "commit", :type => "submit", :value => "Отправить"}/

%section.bread
  .cont
    .left
      %a{:href => "/"} Главная
      %span >
      %span Личный кабинет
      .clear
    .right
    .clear
%section.profile
  .cont
    .profile-left
      .user
        .rating= @user.rating.to_i
        .img
          - if !@user.image.blank?
            = image_tag @user.image.big.url
          - else
            - if !@user.photo.blank?
              = image_tag @user.photo
        .likes
          %span= @likes.size
          %img{:src => "/assets/plus.png", :user_id => @user.id}/
          .clear
      .spec-list
        .title.molot Специализации мастера
        - if !@user.cats.blank?
          - cats = @user.cats.split(",")
          %ul
            - cats.each do |c|
              %li
                - cat = Cat.where(id: c)
                - if !cat.blank?
                  %a{:href => "/cat/#{c}"}= cat.first.name
      .question-list
        .title Частые вопросы
        %ul
          %li
            %a{:href => ""} Сколько предложений я получу?
          %li
            %a{:href => ""} Обязательно выбирать исполнителя?
          %li
            %a{:href => ""} Зачем мне указывать примерный бюджет
          %li
            %a{:href => ""} Обязательно выбирать исполнителя?
        %a.btn.btn-blue{:href => "/questions"} ВСЕ ВОПРОСЫ
    .profile-center
      .center-left
        .name
          %a{:href => "#"}= "#{@user.name1} #{@user.name2}"
          .ico.ico-checked
          .ico.ico-favorite
          .clear
          .under-top
            %span ЧАСТНОЕ ЛИЦО
            %span РАБОТАЕТ С БРИГАДОЙ
            - task = Task.where(userdo_id: @user.id, finish: true)
            %span #{task.size} #{order_count(task.size)}
            %span.rating
              = "+#{@user.plus.to_i}/"
              %i= "-#{@user.minus.to_i}"
        .price
          %b от #{@user.price.to_i}
          %img{:src => "/assets/r-6.png"}/
        .clear
        .description
          =raw @user.description
        .profile-task
          .task-list
            %h2.task-title Последние задания
            .sort
              %span Сортировать по:
              %select.blue
                %option Дате создания
                %option Дате создания
                %option Дате создания
                %option Дате создания
              .clear
            .clear
            - @tasks.each do |t|
              .task-item{:onclick => 'document.location.href = "/tasks/'+String(t.id)+'"'}
                .top
                  .ico.ico-fav
                  .ico.ico-alert
                  %a.name{:href => "/tasks/#{t.id}"}=raw t.description.split(".")[0]
                  .price
                    - if !t.price_fix.blank?
                      .price1
                        %span от
                        = t.price_fix.to_i
                        %img{:src => "/assets/r-4.png"}/
                    - else
                      .price1
                        %span от
                        = t.price_1.to_i
                        %img{:src => "/assets/r-4.png"}/
                      .price2
                        %span до
                        = t.price_2.to_i
                        %img{:src => "/assets/r-5.png"}/
                    .clear
                  .clear
                  - if !t.city_from.blank? && !t.address_from.blank?
                    .line-1
                      .left
                        %span ОТ:
                        #{t.city_from}, #{t.address_from}, #{t.house_from}, #{t.kv_from}
                      .right
                        %span НАЧАТЬ:
                        #{t.date_start}
                      .clear
                  - if !t.city_to.blank? && !t.address_to.blank?
                    .line-2
                      .left
                        %span ДО:
                        #{t.city_to}, #{t.address_to}, #{t.house_to}, #{t.kv_to}
                      .right
                        %span ЗАКОНЧИТЬ:
                        #{t.date_stop}
                      .clear
                  .text
                    =raw t.description
                  .status
                    .time
                      #{t.view.to_i} ПРОСМОТРА
                    .answer
                      0  ОТВЕТА
                    .view
                      /Создано 19 мин. назад
                      Создано #{date_format(t.created_at)}
                    .stat
                      АКТУАЛЬНО #{t.date_count} суток
                    .clear
              }
          /
            .pagination
              %span.current 1
              %a{:href => ""} 2
              %a{:href => ""} 3
              %a{:href => ""} 4
              %a{:href => ""} 5
              %a{:href => ""} 6
              %a{:href => ""} 7
              %span .............................
              %a{:href => ""} 89
            .clear
        .works
          %h3 ПРИМЕРЫ РАБОТ
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          %a{:href => ""}
            %img{:src => "/assets/work.png"}/
          .clear
        .sertif
          %h3 лицензии и сертификаты
          %a{:href => ""}
            %img{:src => "/assets/sertif.png"}/
          %a{:href => ""}
            %img{:src => "/assets/sertif.png"}/
          %a{:href => ""}
            %img{:src => "/assets/sertif.png"}/
          .clear
      .clear
    .profile-right
      - if !@current_user.blank?
        %a.btn.btn-green{:href => ""} СВЯЗАТЬСЯ С МАСТЕРОМ
      - else
        .master-full
          %span Авторизируйтесь чтобы написать мастеру.
      .clear{:style => "height: 30px;"}
      .right-block
        .title.contacts Контакты мастера
        .line
          %b Тел.:
          = @user.phone1
        .line
          %b Тел.:
          = @user.phone2
        .line
          %b Skype:
          = @user.skype
        .line
          %b Почта:
          = @user.email
        .line
          %b WWW:
          = @user.www

      .right-block
        .title.education Образование
        .line
          %b Учреждение:
          = @user.learn1
        .line
          %b Разряд:
          = @user.learn2
        .line
          %b Квалификация:
          = @user.learn3
      .right-block
        .title.garant Гарантии на работы
        .line
          %b Монтаж:
          = @user.garant1
        .line
          %b Ремонт:
          = @user.garant2
      .right-block
        .title.pay Варианты оплаты
        - if !@user.pays.blank?
          - @user.pays.split(",").each do |p|
            .line
              %b= p
      .right-block
        .title.dop Дополнительно
        .line
          %b Опыт работы:
          = @user.opyt
        .line
          %b Автомобиль:
          = @user.auto
        .line
          %b Локация:
          = @user.location
      %a.full-map{:href => ""} Карту на весь экран
      .map-block
        #map
        :javascript
          function initialize() {
            var myLatlng = new google.maps.LatLng(55.68852706904227,37.25565899999996);
            var mapOptions = {
              zoom: 10,
              center: myLatlng,
              scrollwheel: false
            }

            var styles = [
              {
                  "featureType": "administrative",
                  "elementType": "labels.text.fill",
                  "stylers": [
                      {
                          "color": "#444444"
                      }
                  ]
              },
              {
                  "featureType": "administrative.country",
                  "elementType": "geometry.fill",
                  "stylers": [
                      {
                          "visibility": "on"
                      }
                  ]
              },
              {
                  "featureType": "landscape",
                  "elementType": "all",
                  "stylers": [
                      {
                          "color": "#f2f2f2"
                      }
                  ]
              },
              {
                  "featureType": "poi",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "road",
                  "elementType": "all",
                  "stylers": [
                      {
                          "saturation": -100
                      },
                      {
                          "lightness": 45
                      }
                  ]
              },
              {
                  "featureType": "road.highway",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "simplified"
                      }
                  ]
              },
              {
                  "featureType": "road.arterial",
                  "elementType": "labels.icon",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "transit",
                  "elementType": "all",
                  "stylers": [
                      {
                          "visibility": "off"
                      }
                  ]
              },
              {
                  "featureType": "water",
                  "elementType": "all",
                  "stylers": [
                      {
                          "color": "#4694ec"
                      },
                      {
                          "visibility": "on"
                      }
                  ]
              }
            ];

            var map = new google.maps.Map(document.getElementById('map'), mapOptions);
            map.setOptions({styles: styles});
            var myLatlngMarker = new google.maps.LatLng(55.68852706904227,37.25675899999996);
            var marker = new google.maps.Marker({
                position: myLatlngMarker,
                map: map,
                title: '',
                icon: '/assets/balun.png'
            });
          }

          google.maps.event.addDomListener(window, 'load', initialize);
      .right-block
        .title.rayon Районы выезда
        - if !@user.raions.blank?
          - @user.raions.split(",").each do |p|
            .line
              = p
    .clear
    /
      .comment-profile
        %h3 ОТЗЫВЫ О МАСТЕРЕ
        .comment-item
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              .counts
                %span 12 заЯВОК
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .clear
            .btns
              %a.cancle{:href => ""} Отменить
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
        .comment-item.comment-sub
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              .counts
                %span 12 заЯВОК
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .clear
            .btns
              %a.cancle{:href => ""} Отменить
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
        .comment-item
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              .counts
                %span 12 заЯВОК
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .clear
            .btns
              %a.cancle{:href => ""} Отменить
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
        .comment-item.comment-sub
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              .counts
                %span 12 заЯВОК
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .clear
            .btns
              %a.cancle{:href => ""} Отменить
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear
        .comment-item.comment-sub
          .comment-user
            .user
              .rating 10
              .img
                %img{:src => "/assets/user-ava.png"}/
              %a.name{:href => ""} Игорь Юрьевич
            .info
              .counts
                %span 12 заЯВОК
                .plus +35/
                .minus -3
                .clear
              .clear
          .comemnt-text
            .body
              .text
                Пушкин в своем творчестве, являющемся художественной энциклопедией российской действительности, не только поддержал некоторые идеи декабристов, но и затронул коренные общественные проблемы своего времени: самодержавие и народ, личность и государство, трагическое одиночество передовой дворянской интеллигенции Золотого века.
                %br/
                Ещё при жизни Пушкина сложилась его репутация величайшего национального русского поэта[7][8]. Пушкин рассматривается как
              .clear
            .btns
              %a.cancle{:href => ""} Отменить
              %a.btn.btn-blue{:href => ""} ОТВЕТИТЬ
              .clear
          .clear

= render '/profile/top_master'