%section.bread
  .cont
    .left
      %a{:href => "/"} Главная
      %span >
      %a{:href => "/users"} Мастера
      .clear
    .clear
%section.task.task-list
  .cont
    .task-left.task-left-list
      %h4.filter Фильтр мастеров
      %form{:action => "/tasks", :method => "get"}
        %select{:name => "city"}
          %option{:value => ""} Все города России
          %option Москва
          %option Чебоксары
          %option Санкт-Петербург
          %option Казань
          %option Нижний Новгород
          %option Сочи
          %option Ульяновск
          %option Киров
          %option Владимир
          %option Владикавказ
          %option Вологда
          %option Сочи
          %option Новосибирск
        %select{:name => "cat"}
          %option{:value => ""} Все категории мастеров
          - @cat.each do |c|
            %option{:value => c.id}= c.name
        %select{:name => "cat_sub"}
          %option{:value => ""} Все подкатегории мастеров
          - @cat_sub.each do |c2|
            %option{:value => c2.id}= c2.name
        .clear
        %select.small{:name => "price_1"}
          %option{:value => ""} Бюджет ОТ
          %option{:value => "0"} 0
          %option{:value => "1000"} 1000
          %option{:value => "2000"} 2000
          %option{:value => "3000"} 3000
        %select.small{:name => "price_2"}
          %option{:value => ""} Бюджет ДО
          %option{:value => "1000"} 1000
          %option{:value => "3000"} 3000
          %option{:value => "6000"} 6000
          %option{:value => "10000"} 10000
        .clear
        %input#budjet{:name => "budjet", :type => "checkbox"}/
        %label{:for => "budjet"} только с положительными отзывами
        .clear{:style => "height: 10px;"}
        %input.btn.btn-blue{:type => "submit", :value => "Отфильтровать"}
        .clear
      .left-map
        %h4.map Все мастера на карте
        %a.map-full{:href => ""} Карту на весь экран
        .clear
        .img
          #map
          :javascript
            function initialize() {
              var myLatlng = new google.maps.LatLng(55.68852706904227,37.25565899999996);
              var mapOptions = {
                zoom: 10,
                center: myLatlng,
                scrollwheel: false
              }

              var styles = [
                {
                    "featureType": "administrative",
                    "elementType": "labels.text.fill",
                    "stylers": [
                        {
                            "color": "#444444"
                        }
                    ]
                },
                {
                    "featureType": "administrative.country",
                    "elementType": "geometry.fill",
                    "stylers": [
                        {
                            "visibility": "on"
                        }
                    ]
                },
                {
                    "featureType": "landscape",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#f2f2f2"
                        }
                    ]
                },
                {
                    "featureType": "poi",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "road",
                    "elementType": "all",
                    "stylers": [
                        {
                            "saturation": -100
                        },
                        {
                            "lightness": 45
                        }
                    ]
                },
                {
                    "featureType": "road.highway",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "simplified"
                        }
                    ]
                },
                {
                    "featureType": "road.arterial",
                    "elementType": "labels.icon",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [
                        {
                            "visibility": "off"
                        }
                    ]
                },
                {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [
                        {
                            "color": "#4694ec"
                        },
                        {
                            "visibility": "on"
                        }
                    ]
                }
              ];

              var map = new google.maps.Map(document.getElementById('map'), mapOptions);
              map.setOptions({styles: styles});
              var myLatlngMarker = new google.maps.LatLng(55.68852706904227,37.25675899999996);
              var marker = new google.maps.Marker({
                  position: myLatlngMarker,
                  map: map,
                  title: '',
                  icon: '/assets/balun.png'
              });
            }

            google.maps.event.addDomListener(window, 'load', initialize);
      %h4.question Частые вопросы
      %ul
        %li
          %a{:href => ""} Сколько предложений я получу?
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
        %li
          %a{:href => ""} Зачем мне указывать примерный бюджет
        %li
          %a{:href => ""} Обязательно выбирать исполнителя?
      %a.btn.btn-blue{:href => "/questions"} ВСЕ ВОПРОСЫ
    .task-right.task-right-list
      .task-list
        %h2.task-title Подходящие мастера
        .sort
          %span Сортировать по:
          %select.blue
            %option Количеству отзывов
            %option Количеству отзывов
            %option Количеству отзывов
            %option Количеству отзывов
          .clear
        .clear
        - if !@users.blank?
          - @users.each do |t|
            .task-item{:onclick => 'document.location.href="/users/'+String(t.id)+'"'}
              .top
                .ico.ico-fav
                .ico.ico-alert
                %a.name{:href => "/users/#{t.id}"} #{t.name1} #{t.name2}
                .counts
                  .plus +#{t.plus.to_i}/
                  .minus -#{t.minus.to_i}
                  .clear
                .clear
                .clear
                .text{:style => "float:left;width:60%;"}
                  =raw t.description
                .user
                  .rating #{t.rating.to_i}
                  .img
                    - if !t.image.blank?
                      = image_tag t.image.big.url
                    - else
                      - if !t.photo.blank?
                        = image_tag t.photo
                .clear
                .status
                  .time
                    - task = Task.where(userdo_id: t.id, finish: true)
                    ВЫПОЛНИЛ #{task.size} #{task_count(task.size)}
                  .view
                    /Создано 19 мин. назад
                    МИНИМАЛЬНАЯ СТОИМОСТЬ ЗАКАЗА #{t.price.to_i}
                  .stat
                    - if !t.last_seen.blank?
                      БЫЛ НА САЙТЕ: #{date_format_time(t.last_seen)}
                    - else
                      %span.online-user Сейчас на сайте
                  .clear
        - else
          %h2 Пока нет ни одного мастера
        
      /
        .pagination
          %span.current 1
          %a{:href => ""} 2
          %a{:href => ""} 3
          %a{:href => ""} 4
          %a{:href => ""} 5
          %a{:href => ""} 6
          %a{:href => ""} 7
          %span .............................
          %a{:href => ""} 89
          .clear
    .clear