<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <div class="dr-header-span">
    <p>Новый пароль</p>
    <%= render "devise/shared/links" %>
  </div>
  <div class="row row-eq-height dr-task">
    <div class="col-md-4">
      <div class="dr-task-name dr-task-div<%= error_class_for :password %>">
        <span>Новый пароль</span>
        <%= error_block_for :password %>
        <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control' %>
      </div>

      <div class="dr-task-name dr-task-div<%= error_class_for :password_confirmation %>">
        <span>Подтвердите пароль</span>
        <%= error_block_for :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row lastRow">
    <input type="submit" class="btn dr-button-blueFull" value="Сохранить">
  </div>
<% end %>
