<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="dr-header-span">
    <p>Восстановить пароль</p>
    <%= render "devise/shared/links" %>
  </div>
  <div class="row row-eq-height dr-task">
    <div class="col-md-4">
      <div class="dr-task-name dr-task-div<%= error_class_for :email %>">
        <span>Email</span>
        <%= error_block_for :email %>
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row lastRow">
    <input type="submit" class="btn dr-button-blueFull" value="Восстановить">
  </div>
<% end %>
