= render '/layouts/header_main'

%section.main-cats
  .cont
    %h3 КАТЕГОРИИ
    .item-list
      .item.item1
        .sub-cat
          %h4 ГРУЗОПЕРЕВОЗКИ
          %a{:href => ""} Мастер на час
          %a{:href => ""} Ремонт под ключ
          %a{:href => ""} Сантехнические работы
          %a{:href => ""} Электромонтажные работы
          %a{:href => ""} Отделочные работы
          %a{:href => ""} Потолки
          %a{:href => ""} Полы
          %a{:href => ""} Плиточные работы
          %a{:href => ""} Сборка и ремонт мебели
          %a{:href => ""} Установка и ремонт дверей, замков
          %a{:href => ""} Остекление, отделка балконов и лоджий
          %a{:href => ""} Кровельные и фасадные работы
          %a{:href => ""} Отопление, водоснабжение, канализация
          %a{:href => ""} Изоляционные работы
          %a{:href => ""} Строительно-монтажные работы
        %span ГРУЗОПЕРЕВОЗКИ
      - if !@cat.blank?
        - @cat.each do |c|
          .item.item2
            .sub-cat
              %h4= c.name
              - subs = Cat.where(public: true, level: 1, parent_id: c.id).order("ord asc")
              - if !subs.blank?
                - subs.each do |s|
                  %a{:href => "/cat/#{s.id}"}= s.name
            %span= c.name
      .item.item3
        .sub-cat
          %h4 УБОРКА ДОМА
          %a{:href => ""} Мастер на час
          %a{:href => ""} Ремонт под ключ
          %a{:href => ""} Сантехнические работы
          %a{:href => ""} Электромонтажные работы
          %a{:href => ""} Отделочные работы
          %a{:href => ""} Потолки
          %a{:href => ""} Полы
          %a{:href => ""} Плиточные работы
          %a{:href => ""} Сборка и ремонт мебели
          %a{:href => ""} Установка и ремонт дверей, замков
          %a{:href => ""} Остекление, отделка балконов и лоджий
          %a{:href => ""} Кровельные и фасадные работы
          %a{:href => ""} Отопление, водоснабжение, канализация
          %a{:href => ""} Изоляционные работы
          %a{:href => ""} Строительно-монтажные работы
        %span УБОРКА ДОМА
      .item.item4
        .sub-cat
          %h4 РЕМОНТ АВТО
          %a{:href => ""} Мастер на час
          %a{:href => ""} Ремонт под ключ
          %a{:href => ""} Сантехнические работы
          %a{:href => ""} Электромонтажные работы
          %a{:href => ""} Отделочные работы
          %a{:href => ""} Потолки
          %a{:href => ""} Полы
          %a{:href => ""} Плиточные работы
          %a{:href => ""} Сборка и ремонт мебели
          %a{:href => ""} Установка и ремонт дверей, замков
          %a{:href => ""} Остекление, отделка балконов и лоджий
          %a{:href => ""} Кровельные и фасадные работы
          %a{:href => ""} Отопление, водоснабжение, канализация
          %a{:href => ""} Изоляционные работы
          %a{:href => ""} Строительно-монтажные работы
        %span РЕМОНТ АВТО
      .clear
      .item.item5
        .sub-cat
          %h4 УСЛУГИ ФОТОГРАФА
          %a{:href => ""} Мастер на час
          %a{:href => ""} Ремонт под ключ
          %a{:href => ""} Сантехнические работы
          %a{:href => ""} Электромонтажные работы
          %a{:href => ""} Отделочные работы
          %a{:href => ""} Потолки
          %a{:href => ""} Полы
          %a{:href => ""} Плиточные работы
          %a{:href => ""} Сборка и ремонт мебели
          %a{:href => ""} Установка и ремонт дверей, замков
          %a{:href => ""} Остекление, отделка балконов и лоджий
          %a{:href => ""} Кровельные и фасадные работы
          %a{:href => ""} Отопление, водоснабжение, канализация
          %a{:href => ""} Изоляционные работы
          %a{:href => ""} Строительно-монтажные работы
        %span УСЛУГИ ФОТОГРАФА
      .item.item6
        .sub-cat
          %h4 РЕМОНТ ЭЛЕКТОНИКИ
          %a{:href => ""} Мастер на час
          %a{:href => ""} Ремонт под ключ
          %a{:href => ""} Сантехнические работы
          %a{:href => ""} Электромонтажные работы
          %a{:href => ""} Отделочные работы
          %a{:href => ""} Потолки
          %a{:href => ""} Полы
          %a{:href => ""} Плиточные работы
          %a{:href => ""} Сборка и ремонт мебели
          %a{:href => ""} Установка и ремонт дверей, замков
          %a{:href => ""} Остекление, отделка балконов и лоджий
          %a{:href => ""} Кровельные и фасадные работы
          %a{:href => ""} Отопление, водоснабжение, канализация
          %a{:href => ""} Изоляционные работы
          %a{:href => ""} Строительно-монтажные работы
        %span РЕМОНТ ЭЛЕКТОНИКИ
      .item.item7
        .sub-cat
          %h4 РЕМОНТ КОМПЬЮТЕРА
          %a{:href => ""} Мастер на час
          %a{:href => ""} Ремонт под ключ
          %a{:href => ""} Сантехнические работы
          %a{:href => ""} Электромонтажные работы
          %a{:href => ""} Отделочные работы
          %a{:href => ""} Потолки
          %a{:href => ""} Полы
          %a{:href => ""} Плиточные работы
          %a{:href => ""} Сборка и ремонт мебели
          %a{:href => ""} Установка и ремонт дверей, замков
          %a{:href => ""} Остекление, отделка балконов и лоджий
          %a{:href => ""} Кровельные и фасадные работы
          %a{:href => ""} Отопление, водоснабжение, канализация
          %a{:href => ""} Изоляционные работы
          %a{:href => ""} Строительно-монтажные работы
        %span РЕМОНТ КОМПЬЮТЕРА
      .item.item8
        .sub-cat
          %h4 КРАСОТА И ЗДОРОВЬЕ
          %a{:href => ""} Мастер на час
          %a{:href => ""} Ремонт под ключ
          %a{:href => ""} Сантехнические работы
          %a{:href => ""} Электромонтажные работы
          %a{:href => ""} Отделочные работы
          %a{:href => ""} Потолки
          %a{:href => ""} Полы
          %a{:href => ""} Плиточные работы
          %a{:href => ""} Сборка и ремонт мебели
          %a{:href => ""} Установка и ремонт дверей, замков
          %a{:href => ""} Остекление, отделка балконов и лоджий
          %a{:href => ""} Кровельные и фасадные работы
          %a{:href => ""} Отопление, водоснабжение, канализация
          %a{:href => ""} Изоляционные работы
          %a{:href => ""} Строительно-монтажные работы
        %span КРАСОТА И ЗДОРОВЬЕ
      .clear
    %a.btn.btn-more{:href => "/cats"} СМОТРЕТЬ ВСЕ КАТЕГОРИИ
%section.top-table
  .cont
    .header
      .users
        %span.name Лучшие исполнители
      .recalls
        %a.btn.btn-blue{:href => "/users"} Смотреть всех
      .tasks
        %span.name Последние задания
      .list
        %a.btn{:href => "/tasks"} Все задания
      .clear
    - @users.each do |t|
      - user = User.find(t)
      - task = Task.where(user_id: user.id)
      .item
        .users
          .img
            - if !user.image.blank?
              = image_tag user.image.big.url
            - else
              - if !user.photo.blank?
                = image_tag user.photo
          .user-info
            %a{:href => "/users/#{user.id}"}
              #{user.name1} #{user.name2}
            - task = Task.where(userdo_id: user.id, finish: true)
            %span #{task.size} #{task_count(task.size)}
        .recalls
          .recall-1
            %span ОТЗЫВЫ
            .counts
              .plus +#{user.plus.to_i}/
              .minus -#{user.minus.to_i}
              .clear
          .recall-2
            .img #{user.rating.to_i}
          .clear
        .tasks
          - if !task.blank?
            %a{:href => "/tasks/#{task.first.id}"}=raw task.first.name
            .short=raw task.first.description
        .list
          - if !task.blank?
            .price
              - if !task.first.price_fix.blank?
                = task.first.price_fix.to_i
              - else
                = task.first.price_1.to_i
              %img{:src => "/assets/r.png"}/
            %span= date_format(task.first.created_at)
        .clear
    

%section.footer-top
  .cont
    %h4 КАК ЭТО РАБОТАЕТ?
    .left
      %img{:src => "/assets/ipad-2.png"}/
    .right
      .item
        %b 1
        .text
          %span СОЗДАЙТЕ ЗАЯВКУ
          %p Оставьте заявку с заданием, укажите подробности
        %img.img-1{:src => "/assets/img-1.png"}/
        .clear
      .item
        %b 2
        .text
          %span Изучите ответы
          %p Вам будут поступать предложения от десятка специалистов
        %img.img-2{:src => "/assets/img-2.png"}/
        .clear
      .item
        %b 3
        .text
          %span СДЕЛАЙТЕ ВЫБОР
          %p Исполнители имеют отзывы и рейтинг. Каждый предложит свою цену
        %img.img-3{:src => "/assets/img-3.png"}/
        .clear
    .clear