<%= form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
<div class="dr-header-span">
  <p>Вход</p>
  <%= render "devise/shared/links" %>
</div>
<div class="row row-eq-height dr-task">
  <div class="col-md-4">
    <div class="dr-task-name dr-login-div<%= error_class_for :email %>">
      <span class="bold-text">Логин / email</span>
      <%= error_block_for :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control' %>
    </div>
    <div class="dr-task-password dr-login-div<%= error_class_for :password %>">
      <span class="bold-text">Пароль</span>
      <%= error_block_for :password %>
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="dr-task-password dr-login-div">
        <label class="bold-text">
          <%= f.check_box :remember_me %>
          Запомнить меня
        </label>
        <a href="<%= new_password_path(resource_name) %>" class="bold-text-light right">Забыли пароль?</a>
      </div>
    <% end -%>
  </div>
  <div class="col-md-4 col-md-offset-2 center">
    <br/>
    <span class="bold-text">Войти через социальные сети</span>
    <div class="dr-social">
      <a href="<%= omniauth_authorize_path(resource_name, :vkontakte) %>" class="btn dr-button-vk">VK</a>
    </div>
    <div class="dr-social">
      <a href="<%= omniauth_authorize_path(resource_name, :facebook) %>" class="btn dr-button-facebook">Facebook</a>
    </div>
    <div class="dr-social">
      <a href="<%= omniauth_authorize_path(resource_name, :odnoklassniki) %>" class="btn dr-button-odnoklassniki">Одноклассники</a>
    </div>
  </div>
</div>
<div class="row lastRow">
  <input type="submit" class="btn dr-button-blueFull" value="Войти">
</div>
<% end %>
