<div class="dr-bottom-menu">
  <nav>
    <ul>
      <li><a href="<%= root_path %>">Главная</a></li>
      <li><a href="<%= about_path %>">О проекте делоруб</a></li>
      <li><a href="<%= how_it_works_path %>">Как это работает?</a></li>
      <li><a href="<%= how_to_master_path %>">Как стать мастером?</a></li>
      <li><a href="<%= intresting_path %>">Это интересно</a></li>
      <li><a href="<%= vacancies_path %>">Вакансии</a></li>
      <li><a href="<%= company_path %>">О компании</a></li>
      <li><a href="<%= help_index_path %>">Помощь</a></li>
      <% if current_user %>
        <li><a href="<%= destroy_user_session_path %>">Выход</a></li>
      <% end %>
    </ul>
  </nav>
  <%= render 'admin_links' %>
</div>
