- if @url[2] == "step1"
  .header-top.header-top-reg
    %header
      = render '/layouts/header_nav'
    .top-registration
      .cont
        .reg-image
        %h1
          РЕГИСТРАЦИЯ
          %span В БЮРО МАСТЕРОВ
        .short
          Ваше намерение это уже половина пути к успеху! Осталось совсем не много.
        %ul.reg-list
          %li заполните резюме
          %li изучите и примите договор-оферту
          %li пройдите обучение работы с сервисом
          %li по желанию подтвердите вашу личность и квалификацию копиями документов.
        .short-li
          Отправив данные, дождитесь рассмотрения заявки. Рассмотрение заявки занимает от 10 минут до 48 часов в зависимости от загруженности наших специалистов.
        %h2 Что вы должны знать:
        .description
          %p Вся информация должна быть достоверной. Если Вы укажете чужое имя или не правдивые данные мы заблокируем аккаунт без возможности восстановления.
          %p После регистрации Вам будет предложено подтвердить информацию, Вы можете отказаться, но это значительно снизит интерес к Вашему профилю. После прохождения верификации Ваш профиль получит отметку Данные проверены. Мы не передаем Ваши данные третьим лицам.
        .scroll
          %img{:src => "/assets/mouse.png"}/
- elsif @url[1] == "status"
  .header-top.header-top-status
    %header
      = render '/layouts/header_nav'
    .top-status
      .cont
        = image_tag "status-image-1.png", :class => "status-image-1"
        = image_tag "status-image-2.png", :class => "status-image-2"
        %h1
          СТАТУС МАСТЕРА
          %span В БЮРО МАСТЕРОВ
        .btns
          = link_to "СТАТЬ МАСТЕРОМ!", "#", :class => "btn"
        .short
          Мы бесплатно присылаем Вам оповещения о новых заявках в выбранной категории. Вы решаете кому ответить.
        .description
          %p 
            Бюро Мастеров помогает найти новых заказчиков и эффективно развить Ваше собственное дело. Процесс прост. Заказчик говорит о том, что ему требуется и мы присылаем вам его заявку. Если заявка интересна, Вы отвечаете на нее. Мы не берем никаких комиссий.
        .scroll
          %img{:src => "/assets/mouse.png"}/
- elsif @url[1] == "kak-eto-rabotaet"
  .header-top.header-top-rabotaet
    %header
      = render '/layouts/header_nav'
    .top-rabotaet
      .cont
        = image_tag "rabotaet-image-1.png", :class => "rabotaet-image-1"
        %h1
          Считайте, что все 
          %span уже сделано
        .line
        .clear
        .description
          %p 
            Нанять мастера по ремонту, забронировать ведущего на праздник или найти репетитора ребенку. Все это и многое-многое другое можно решить с Бюро Мастеров. Просто опишите вашу задачу и мастера, действительно заинтересованные в Вашем заказе, откликнутся. Сравните их предложения и выберите то, которое подходит именно Вам.
        .clear
        .scroll
          %img{:src => "/assets/mouse.png"}/
- else
  %header.header-other
    = render '/layouts/header_nav'