%meta(charset="utf-8")
= csrf_meta_tags
= display_meta_tags
%link(href="/assets/favicon.png" rel="shortcut icon" type="image/x-icon" id="favicon")
%link(href="/assets/icons/apple-touch-icon.png" rel="apple-touch-icon")
%link(href="/assets/icons/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72")
%link(href="/assets/icons/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114")
%link(href="/assets/icons/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144")

%script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places&key=AIzaSyBulkdDQB38z4ztdhb9po9D9Lcj2Be3WIc"}


%link{:href => "https://fonts.googleapis.com/css?family=Exo+2:100,200,300,400,500,600,700&subset=cyrillic", :rel => "stylesheet"}/

= stylesheet_link_tag "fancybox/jquery.fancybox-buttons", :media => "all"
= stylesheet_link_tag "fancybox/jquery.fancybox-thumbs", :media => "all"
= stylesheet_link_tag "fancybox/jquery.fancybox", :media => "all"
= stylesheet_link_tag "jquery-ui", :media => "all"
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
