<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Делоруб</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
    <%=  stylesheet_link_tag 'website-bundle', media: 'all' %>
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>
<body class="<%= body_css_classnames %>">
  <div class="container">
    <div class="row row-eq-height">
      <div class="col-sm-11 col-sm-push-1 dr-content">
        <main class="content">
          <%= render 'navigation' %>
          <%= yield %>
          <%= render 'footer' %>
        </main>
      </div>
      <%= render 'side_menu' %>
    </div>
  <%= javascript_include_tag 'website-bundle' %>
</body>
</html>
