<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Делоруб</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-touch-icon-114x114.png">
    <%=  stylesheet_link_tag 'website_apps-bundle', media: 'all' %>
    <%=  stylesheet_link_tag 'website-bundle', media: 'all' %>
    <%= csrf_meta_tags %>
    <% if Rails.env.development? %>
      <script src="http://localhost:8097"></script>
    <% end %>
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>
<body class="<%= body_css_classnames %>">
  <div class="container">
    <div class="row row-eq-height">
      <div class="<%= show_side_menu? ? 'col-sm-11 col-sm-push-1' : 'col-sm-12' %> dr-content">
        <main class="content">
          <%= render 'navigation' %>
          <% if global_container? %>
            <div class="dr-container<%= container_css_classes %>">
              <%= render 'shared/after_container' %>
          <% end %>
          <%= yield %>
          <% if global_container? %>
            </div>
          <% end %>
          <%= render 'footer' %>
        </main>
      </div>
      <%= render 'side_menu' if show_side_menu? %>
    </div>
  <%= javascript_include_tag 'website-bundle' %>
  <%= javascript_include_tag 'website_apps-bundle' %>
</body>
</html>
