!!! 5
%html(lang="ru")
  %head
    = render '/layouts/meta' 
  %body
    - if !@url[1].blank?
      = render '/layouts/header'  
    = yield
    = render '/layouts/footer'

    %noindex
      .popup-hidden
      .popup.popup-auth
        .close
        .title Войти через социальные сети
        .soc-block
          = link_to user_omniauth_authorize_path(:facebook) do
            = image_tag "soc-1.jpg"
          = link_to user_omniauth_authorize_path(:vkontakte) do
            = image_tag "soc-2.jpg"
          = link_to user_omniauth_authorize_path(:mailru) do
            = image_tag "soc-3.jpg"
          = link_to "#" do
            = image_tag "soc-4.png"
        .title Войти с паролем

        %form#new_user.new_user{"accept-charset" => "UTF-8", :action => "/users/sign_in", :method => "post"}
          .select-user-type
            %input#checkbox{:name => "ismaster", :type => "radio", :id => "ismaster2", :checked => "checked", :value => 1}/
            %label{:for => "ismaster2"} Войти как заказчик
            .clear
            %input#checkbox{:name => "ismaster", :type => "radio", :id => "ismaster1", :value => 0}/
            %label{:for => "ismaster1"} Войти как мастер
            .clear
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "/ILmNl4uphX+FGSOk4ldoj3kIf8YKnLUl/HhazQrPmg="}/
          %input#user_email{:autofocus => "autofocus", :name => "user[email]", :type => "email", :value => "", :placeholder => "E-mail"}          
          %input#user_password{:autocomplete => "off", :name => "user[password]", :type => "password", :placeholder => "Пароль"}/
          %input.btn{:name => "commit", :type => "submit", :value => "ВОЙТИ"}/
        = link_to "Забыли пароль?", "", :class => "rember go-to-rember"
        .clear
        .auth-bottom
          Еще не с нами? 
          .clear
          = link_to "Зарегистрируйтесь", "", :class => "go-to-reg"

      .popup.popup-soc
        .close
        .title Войти через
        .soc-block
          = link_to user_omniauth_authorize_path(:facebook) do
            = image_tag "soc-1.jpg"
          = link_to user_omniauth_authorize_path(:vkontakte) do
            = image_tag "soc-2.jpg"
          = link_to user_omniauth_authorize_path(:mailru) do
            = image_tag "soc-3.jpg"

      .popup.popup-reg
        .close
        .title Войти через социальные сети
        .soc-block
          = link_to user_omniauth_authorize_path(:facebook) do
            = image_tag "soc-1.jpg"
          = link_to user_omniauth_authorize_path(:vkontakte) do
            = image_tag "soc-2.jpg"
          = link_to user_omniauth_authorize_path(:mailru) do
            = image_tag "soc-3.jpg"
          = link_to "#" do
            = image_tag "soc-4.png"
        .title Регистрация

        %form#new_user.new_user_reg{"accept-charset" => "UTF-8", :action => "/users/reg", :method => "post"}
          .select-user-type{:style => "margin-left:31px;"}
            %input#checkbox{:name => "ismaster", :type => "radio", :id => "ismaster2", :checked => "checked", :value => 1}/
            %label{:for => "ismaster2"} Зарегистрироваться как заказчик
            .clear
            %input#checkbox{:name => "ismaster", :type => "radio", :id => "ismaster1", :value => 0}/
            %label{:for => "ismaster1"} Зарегистрироваться как мастер
            .clear
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "/ILmNl4uphX+FGSOk4ldoj3kIf8YKnLUl/HhazQrPmg="}/
          %input#user_email{:autofocus => "autofocus", :name => "email", :type => "email", :value => "", :placeholder => "E-mail"}
          %input#user_email{:name => "phone", :type => "tel", :value => "", :placeholder => "Номер телефона"}
          %input#user_email{:name => "code", :type => "text", :value => "", :placeholder => "Код из смс"}
          %input.btn{:name => "commit", :type => "submit", :value => "Регистрация"}/
        .clear
        .auth-bottom
          Уже зарегистрированы? 
          .clear
          = link_to "Авторизируйтесь", "", :class => "go-to-auth"

      .popup.popup-rememb
        .close
        .title Восстановление пароля
        %form#new_user.new_user_rememb{"accept-charset" => "UTF-8", :action => "/users/rememb", :method => "post"}
          %input{:name => "utf8", :type => "hidden", :value => "✓"}/
          %input{:name => "authenticity_token", :type => "hidden", :value => "/ILmNl4uphX+FGSOk4ldoj3kIf8YKnLUl/HhazQrPmg="}/
          %input#user_email{:autofocus => "autofocus", :name => "email", :type => "email", :value => "", :placeholder => "Укажите ваш E-mail"}
          %input.btn{:name => "commit", :type => "submit", :value => "Выслать пароль"}/
        .clear
        .auth-bottom
          Уже зарегистрированы? 
          .clear
          = link_to "Авторизируйтесь", "", :class => "go-to-auth"

      .popup.popup-quest
        .close
        .title Заголовок вопроса
        .quest-text
          Сколько предложений я получу? Обязательно выбирать исполнителя? Зачем мне указывать примерный бюджет Обязательно выбирать исполнителя? Сколько предложений я получу? Обязательно выбирать исполнителя? Зачем мне указывать примерный бюджет Обязательно выбирать исполнителя?

      .popup.popup-alert
        .close
        .title Заголовок вопроса
        .quest-text
          Сколько предложений я получу? Обязательно выбирать исполнителя? Зачем мне указывать примерный бюджет Обязательно выбирать исполнителя? Сколько предложений я получу? Обязательно выбирать исполнителя? Зачем мне указывать примерный бюджет Обязательно выбирать исполнителя?

      .popup.popup-top-master
        .close
        .title Как сюда попасть?
        .quest-text
          Сколько предложений я получу? Обязательно выбирать исполнителя? Зачем мне указывать примерный бюджет Обязательно выбирать исполнителя? Сколько предложений я получу? Обязательно выбирать исполнителя? Зачем мне указывать примерный бюджет Обязательно выбирать исполнителя?

      :javascript
        var reformalOptions = {
            project_id: 975647,
            project_host: "buro.reformal.ru",
            tab_orientation: "left",
            tab_indent: "50%",
            tab_bg_color: "#339ef5",
            tab_border_color: "#FFFFFF",
            tab_image_url: "http://tab.reformal.ru/T9GC0LfRi9Cy0Ysg0Lgg0LrQvtC90YHRg9C70YzRgtCw0YbQuNGP/FFFFFF/996ec05ffbd2259457f343cbff36b0fc/left/0/tab.png",
            tab_border_width: 1
        };
        
        (function() {
            var script = document.createElement('script');
            script.type = 'text/javascript'; script.async = true;
            script.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'media.reformal.ru/widgets/v3/reformal.js';
            document.getElementsByTagName('head')[0].appendChild(script);
        })();
      %noscript
        %a{:href => "http://reformal.ru"}
          %img{:src => "http://media.reformal.ru/reformal.png"}/
        %a{:href => "http://buro.reformal.ru"} Oтзывы и консультация

    